<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Awesome Blog</title>

    <link rel="stylesheet" href="/css/awesome_blogspot.css">

</head>
<body>
<div class="container" id="page">
    <header>
        <h2>Awesome Blog</h2>
    </header>

    <div class="panel" id="navbar">
        <nav>
            <a id="main" href="/">Αρχική</a>
            <a id="com" href="/contact">Επικοινωνία</a>
            <a id="logout" href="/logout">Έξοδος</a>
        </nav>
    </div>


    <main>
        <div class="card" id="title1">
            <h1>Γράψε ένα post!!</h1>
        </div>

        <div class="row" id="posts">
            <div class="leftcolumn" id="adminLeft">
                <form action="/admin/post" method="post" id="adminForm">
                    <label for="title">Τίτλος</label>
                    <input id="title" type="text" name="title">
                    <label for="body">Κείμενο</label>
                    <textarea id="body" name="body" placeholder="Γράψε την εξυπνάδα σου..."
                              style="height:200px"></textarea>
                    <input type="submit" value="Submit">
                </form>
            </div>

            <div class="rightcolumn" id="rc">
                <div class="card" id="description">
                    <h4>About us</h4>
                    <p>Στόχος της σελίδας είναι να ψυχαγωγήσει τις ρεμπέτικες ψυχές!</p>
                </div>
            </div><!-- /.blog-sidebar -->
        </div><!-- /.row -->
    </main><!-- /.container -->

    <footer class="blog-footer" id="we">
        Copyright &copy; mai19017
    </footer>
</div>
</body>
<script src="/webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="/js/awesome_blogspot.js"></script>

</html>