
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Awesome Blog</title>

    <link rel="stylesheet" href="../static/css/awesome_blogspot.css">

  </head>
  <body>
    <div class="container" id="page">
      <header>
        <h2>Awesome Blog</h2>
      </header>

      <div class="panel" id="navbar">
        <nav>
          <a id="main" href="index.html">Αρχική</a>
          <a id="com" href="communication.html">Επικοινωνία</a>
          <a id="log" href="login.html">Είσοδος</a>  
        </nav>
      </div>


  <main>
    <h3>Φόρμα Επικοινωνίας</h3>
    <div class="row" id="posts">
        <div class="leftcolumn" id="lc">
          <form action="/action_page.php">
            <label for="subject">Edit post</label>
            <textarea id="postarea" name="subject" style="height:200px"></textarea>

            <input type="submit" value="repost">
        </form>   
        </div>
    

      <div class="rightcolumn" id="rc">
        <div class="card" id="description">
          <h4>About us</h4>
          <p>Στόχος της σελίδας είναι να ψυχαγωγήσει τις ρεμπέτικες ψυχές!</p>
        </div>
        <div class="card" id="befores">
          <h4>Παλιότερα</h4>
          <ol>
            
            <li><a href="#">February 2020</a></li>
            <li><a href="#">January 2020</a></li>
            <li><a href="#">December 2019</a></li>
            <li><a href="#">November 2019</a></li>
            <li><a href="#">October 2019</a></li>
            <li><a href="#">September 2019</a></li>
            <li><a href="#">August 2019</a></li>
            <li><a href="#">July 2019</a></li>
            <li><a href="#">June 2019</a></li>
            <li><a href="#">May 2019</a></li>
            <li><a href="#">April 2019</a></li>
            <li><a href="#">March 2019</a></li>

          </ol>
        </div>

    
      </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->
    

  </main><!-- /.container -->

  <footer class="blog-footer" id="we">
      Copyright &copy; mai19017
  </footer>
  </body>
</html>