
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Awesome Blog</title>

    <link rel="stylesheet" href="../static/css/awesome_blogspot.css">

  </head>
  <body>
    <div class="container">
      <header>
        <h2>Awesome Blog</h2>
      </header>

      <div class="panel">
        <nav>
          <a>Main</a>
          <a href="/contact">Communication</a>
          <a>Log in</a> 
        </nav>
      </div>


  <main>
    <div class="card">
        <h1>Shhhh, everything you wanna know about music is here!!!</h1>
      </div>

    <div class="row">
      <div class="leftcolumn">
        <div class="card">
          <h2>
            <p>Nuxterides kai araxnes kardia mou.</p>

          </h2>
          <p>January 7, 2020 by <a>Maria</a></p>
          <p>Pws na katharisete eukola kai grhgora to spiti sas.</p>
        </div>

        <div class="card">
          <h2>mh me stelneis mana sthn Amerikh</h2>
          <p>January 1, 2020 by <a>Gregory</a></p>
          <p>Ti wthei th nea genia sth metanasteush.</p>
      
        </div>

        <div class="card">
          <h2>Ti shmera ti avrio ti twra??</h2>
          <p>December 23, 2019 by <a >Chris</a></p>

          <p>Pws na anavalleis ta panta mexri telikhs ptvshs.</p>
        </div>

        <div class="card">
          <h2>Aeroplano tha parw!!</h2>
          <p>December 14, 2019 by <a>Viktoria</a></p>

          <p>Ftina eisitiria gia 8 proorismous toy exwterikou.</p>
        </div>

        <div class="card">
          <h2>Apopse kaneis mpam!</h2>
          <p>December 7, 2020 by <a>Viktoria</a></p>
          <p>37 kai 1 diaites.</p>
        </div>
  

      </div>

      <div class="rightcolumn">
        <div class="card">
          <h4>About us</h4>
          <p>To site auto stoxo exei na psuxagvghsei tis rebetikes psuxes.</p>
        </div>
        <div class="card">
          <h4>Palaiotera</h4>
          <ol>
            
            <li><a href="#">February 2020</a></li>
            <li><a href="#">January 2020</a></li>
            <li><a href="#">December 2019</a></li>
            <li><a href="#">November 2019</a></li>
            <li><a href="#">October 2019</a></li>
            <li><a href="#">September 2019</a></li>
            <li><a href="#">August 2019</a></li>
            <li><a href="#">July 2019</a></li>
            <li><a href="#">June 2019</a></li>
            <li><a href="#">May 2019</a></li>
            <li><a href="#">April 2019</a></li>
            <li><a href="#">March 2019</a></li>

          </ol>
        </div>

    
      </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->
    

  </main><!-- /.container -->

  <footer class="blog-footer">
      Copyright &copy; mai19017
  </footer>
  </body>
</html>