<html>
<head>
  <title>Admin area</title>
  <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
  <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" style="margin:50px">
  <h3>Admin area</h3>
  <form action="/admin/login" method="post">
    <div class="form-group">
      <label for="username">UserName:</label>
      <input type="text" class="form-control" id="username" name="username" style="width: unset">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" name="password" style="width: unset">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
</body>
</html>
